<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>네비게이션 바</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- 헤더 템플릿 호출 -->
<header th:replace="~{fragments/header}"></header>

<div class="container my-4">
    <div class="row d-flex justify-content-center"> <!-- 카드들을 가운데 정렬 -->
        <!-- tasks 리스트를 순회하여 각 task를 카드 형태로 출력 -->
        <div class="col-md-6 col-lg-4 mb-4" th:each="task : ${homeDisplayRequest.tasks}">
            <div class="card">
                <div class="card-body">
                    <!-- Task Title -->
                    <h5 class="card-title" th:text="${task.title}">Task Title</h5>
                    <!-- Task Caption -->
                    <p class="card-text" th:text="${task.caption}">Task Caption</p>

                    <!-- Task Created and Due Date in a row (horizontally) -->
                    <div class="d-flex justify-content-between">
                        <!-- Task Created Date -->
                        <p class="card-text mb-0" th:text="'Created: ' + ${#temporals.format(task.created_at, 'yyyy-MM-dd HH:mm')}">Created: Date</p>

                        <!-- Task Due Date -->
                        <p class="card-text mb-0" th:text="'Due: ' + ${#temporals.format(task.dueDate, 'yyyy-MM-dd HH:mm')}">Due: Date</p>
                    </div>

                    <!-- 진행 중인 task -->
                    <div class="d-flex justify-content-end mt-3">
                        <!-- Complete Button -->
                        <form th:action="@{/home/{taskId}/complete(taskId=${task.id})}" method="post">
                            <button type="submit" class="btn btn-success btn-sm me-2">완료</button>
                        </form>

                        <!-- Edit Button -->
                        <form th:action="@{/home/{taskId}/edit(taskId=${task.id})}" method="post">
                            <button type="submit" class="btn btn-primary btn-sm me-2">수정</button>
                        </form>

                        <!-- Delete Button -->
                        <form th:action="@{/home/{taskId}/delete(taskId=${task.id})}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




<!-- 푸터 템플릿 호출 -->
<footer th:replace="~{fragments/footer}"></footer>

<!-- Bootstrap Bundle (Popper 포함) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
